@charset "UTF-8";

body {
    background-color: rgb(92, 92, 177);
}

h1 {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gerar {
    width: 30%;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}

.grupos {
    width: 90%;
    height: 10%;
    border: 1px solid black;
    margin: 2px;
    box-shadow: 2px 2px 2px black;
}

.sinalizador {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

#g1 {
    background-color: #99BC85;
}

#g2 {
    background-color: #40A2D8;
}

#g3 {
    background-color: #FFBB64;
}

#g4 {
    background-color: #FF6868;
}

#g5 {
    background-color: #EBD9B4;
}

#g6 {
    background-color: #864AF9;
}